<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627589007845-lndp34h68j57o151bk24vutb00jvrcut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627589007845-lndp34h68j57o151bk24vutb00jvrcut</string>
	<key>API_KEY</key>
	<string>AIzaSyBrn4tCw3PREioiMVpVP1PNvX4XXHf1oVc</string>
	<key>GCM_SENDER_ID</key>
	<string>627589007845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leftyseth.whiskeytango</string>
	<key>PROJECT_ID</key>
	<string>whiskey-tango-9833d</string>
	<key>STORAGE_BUCKET</key>
	<string>whiskey-tango-9833d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627589007845:ios:eed742a5ef659d8d</string>
	<key>DATABASE_URL</key>
	<string>https://whiskey-tango-9833d.firebaseio.com</string>
</dict>
</plist>